In [12]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shash\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shash\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shash\anaconda3\lib\site-packages (from selenium) (2022.9.24)

ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

requests 2.24.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you'll have urllib3 1.26.16 which is incompatible.

Collecting urllib3[socks]~=1.26
  Downloading urllib3-1.26.16-py2.py3-none-any.whl (143 kB)
Requirement already satisfied: trio~=0.17 in c:\users\shash\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.10 in c:\users\shash\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\shash\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6; extra == "socks" in c:\users\shash\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\users\shash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.2.2)
Requirement already satisfied: outcome in c:\users\shash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\shash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: idna in c:\users\shash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14; os_name == "nt" and implementation_name != "pypy" in c:\users\shash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9; python_version < "3.11" in c:\users\shash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shash\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: pycparser in c:\users\shash\anaconda3\lib\site-packages (from cffi>=1.14; os_name == "nt" and implementation_name != "pypy"->trio~=0.17->selenium) (2.20)
Installing collected packages: urllib3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.25.11
    Uninstalling urllib3-1.25.11:
      Successfully uninstalled urllib3-1.25.11
Successfully installed urllib3-1.26.16

In [13]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [20]:
driver = webdriver.Chrome(r"C:\Users\shash\OneDrive\Desktop\chromedriver_win32\chromedriver.exe")

In [21]:
url = 'https://www.naukri.com/'
driver.get(url)

In [22]:
search_jobs = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_jobs.send_keys("Data Analyst")

In [24]:
search_locn = driver.find_element(By.XPATH,'//*[@id="root"]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
search_locn.send_keys("Bangalore/Bengaluru")

In [25]:
search_btn = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_btn.click()

In [33]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_506")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_464")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_463")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_512")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_513")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_514")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_515")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_516")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_517")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_518")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_519")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_520")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_521")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_522")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_523")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_524")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_525")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_526")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_527")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e43cb41b9aa1690f9e7330648fd556b0", element="25A76DF3F6878BE808826D19EEACC424_element_528")>]

In [35]:
job_titles=[]
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[0:10]

['Data Analyst',
 'Tech Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Celonis & Salesforce Data Analyst',
 'Celonis & Salesforce Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [36]:
job_titles

['Data Analyst',
 'Tech Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Celonis & Salesforce Data Analyst',
 'Celonis & Salesforce Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst (Bangalore)',
 'Insight Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Data analyst- Bangalore']

In [37]:
company_names =[]
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text)
    company_names

In [38]:
len(company_names)

20

In [39]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_names

In [40]:
jobs

                             Job Title                               Company
0                         Data Analyst                                Target
1                    Tech Data Analyst                                 Wipro
2                         Data Analyst                                Artech
3                         Data Analyst                                Brunel
4    Celonis & Salesforce Data Analyst                        Hitachi Energy
5    Celonis & Salesforce Data Analyst                          Hitachi Ltd.
6                         Data Analyst                                HARMAN
7                         Data Analyst                                   Aon
8                         Data Analyst                                   Aon
9                         Data Analyst       Tata Consultancy Services (TCS)
10            Data Analyst (Bangalore)                          Krazy Mantra
11                Insight Data Analyst                       Vuca Consulting
12                        Data Analyst                       The Times Group
13                        Data Analyst                       Koch Industries
14                        Data Analyst                 Loyalytics Consulting
15                        Data Analyst            Clairvoyant India Pvt. Ltd
16                        Data Analyst  Lowes Services India Private limited
17                        Data Analyst              Aventus Technology India
18                        Data Analyst                      Alliances Galore
19  Hiring For Data analyst- Bangalore                Shadowfax Technologies

In [55]:
driver = webdriver.Chrome(r"C:\Users\shash\OneDrive\Desktop\chromedriver_win32\chromedriver.exe")

In [56]:
url = 'https://www.naukri.com/'
driver.get(url)

In [57]:
search_jobs = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_jobs.send_keys("Data Scientist")

In [59]:
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
search_locn.send_keys("Bangalore/Bengaluru")

In [60]:
search_btn = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_btn.click()

In [62]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_402")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_451")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_452")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_453")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_454")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_455")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_456")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_458")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_459")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_460")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_461")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_462")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_463")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_464")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_465")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_466")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_467")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_468")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e89050b1956a562135979a9c25b59d7", element="043F17FBE1282B2B550975A0B7773666_element_469")>]

In [63]:
job_titles=[]
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[0:10]

['Permanent Opportunity - Data Scientist(Snaplogic&Snowflake), Pan India',
 'Analystics & Modeling Specialist',
 'Machine Learning (AI) Architect',
 'Staff Data Scientist',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist',
 'Director/Senior Director - Data Science',
 'Manager/Senior Manager - Data Science',
 'Data Scientist']

In [66]:
company_names =[]
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Deloitte',
 'Accenture',
 'Persistent',
 'Walmart',
 'Tata Consultancy Services (TCS)',
 'Tata Consultancy Services (TCS)',
 'Infogain',
 'Axtria India',
 'Axtria India',
 'Ericsson']

In [68]:
len(company_names)

20

In [69]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_names

In [70]:
jobs

,Job Title,Company
0,Permanent Opportunity - Data Scientist(Snaplog...,Deloitte
1,Analystics & Modeling Specialist,Accenture
2,Machine Learning (AI) Architect,Persistent
3,Staff Data Scientist,Walmart
4,Data Scientist,Tata Consultancy Services (TCS)
5,Hiring For Data Scientist,Tata Consultancy Services (TCS)
6,Data Scientist,Infogain
7,Director/Senior Director - Data Science,Axtria India
8,Manager/Senior Manager - Data Science,Axtria India
9,Data Scientist,Ericsson
10,Data Scientist,Ericsson
11,Deputy Manager - B2C Underwriting,Bajaj Finserv Ltd.
12,Feasibility Data Scientist,ICON plc
13,Senior Data Scientist,Walmart
14,Data Scientist,Walmart
15,Data Scientist,Cognizant
16,Data Scientist - R/Python,Okda Solutions
17,Data Scientist - Engine Algorithm,Primo Hiring
18,Data Scientist - R/Python,Okda Solutions
19,Data Scientist,IBS Software Services

In [83]:
driver = webdriver.Chrome(r"C:\Users\shash\OneDrive\Desktop\chromedriver_win32\chromedriver.exe")

In [125]:
url = 'https://www.naukri.com/'
driver.get(url)

In [126]:
search_jobs = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_jobs.send_keys("Data Scientist")

In [127]:
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input')
search_locn.send_keys("Delhi/NCR")

In [128]:
search_btn = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_btn.click()

In [131]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1163")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1164")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1166")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1167")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1168")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1169")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1170")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1171")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1173")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1174")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1175")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1176")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1177")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1178")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1179")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1180")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1181")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89010a89f9357bb859f0aad33d85865a", element="0B46C48F872B8482A812C06B1ED5DECB_element_1182")>]

In [132]:
job_titles=[]
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[0:10]

['Permanent Opportunity - Data Scientist(Snaplogic&Snowflake), Pan India',
 'Machine Learning (AI) Architect',
 'Data Scientist',
 'Director/Senior Director - Data Science',
 'Manager/Senior Manager - Data Science',
 'Data Scientist - R/Python',
 'Data Scientist - Engine Algorithm',
 'Data Scientist - R/Python',
 'Data Scientist',
 'Senior Customer Facing Data Scientist']

In [133]:
company_names =[]
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Deloitte',
 'Persistent',
 'Infogain',
 'Axtria India',
 'Axtria India',
 'Okda Solutions',
 'Primo Hiring',
 'Okda Solutions',
 'IBS Software Services',
 'Sparkbeyond']

In [137]:
salary_list=[]
salary_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in salary_list:
    salary_list.append(i.text)
salary_list[0:10]

[]

In [138]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_names
jobs['Salary'] = salary_tags

In [139]:
jobs

,Job Title,Company,Salary
0,Permanent Opportunity - Data Scientist(Snaplog...,Deloitte,<selenium.webdriver.remote.webelement.WebEleme...
1,Machine Learning (AI) Architect,Persistent,<selenium.webdriver.remote.webelement.WebEleme...
2,Data Scientist,Infogain,<selenium.webdriver.remote.webelement.WebEleme...
3,Director/Senior Director - Data Science,Axtria India,<selenium.webdriver.remote.webelement.WebEleme...
4,Manager/Senior Manager - Data Science,Axtria India,<selenium.webdriver.remote.webelement.WebEleme...
5,Data Scientist - R/Python,Okda Solutions,<selenium.webdriver.remote.webelement.WebEleme...
6,Data Scientist - Engine Algorithm,Primo Hiring,<selenium.webdriver.remote.webelement.WebEleme...
7,Data Scientist - R/Python,Okda Solutions,<selenium.webdriver.remote.webelement.WebEleme...
8,Data Scientist,IBS Software Services,<selenium.webdriver.remote.webelement.WebEleme...
9,Senior Customer Facing Data Scientist,Sparkbeyond,<selenium.webdriver.remote.webelement.WebEleme...
10,Junior Data Scientist,Analytos,<selenium.webdriver.remote.webelement.WebEleme...
11,Senior Data Scientist,Impetus Technologies,<selenium.webdriver.remote.webelement.WebEleme...
12,Data Science,Lericon Infomatics Pvt.ltd,<selenium.webdriver.remote.webelement.WebEleme...
13,Data Scientist - R/Python,Okda Solutions,<selenium.webdriver.remote.webelement.WebEleme...
14,Data Scientist,Blackbuck,<selenium.webdriver.remote.webelement.WebEleme...
15,Data Science - Technical Lead,Paytm,<selenium.webdriver.remote.webelement.WebEleme...
16,Data Science - Senior Software Engineer,Paytm,<selenium.webdriver.remote.webelement.WebEleme...
17,Opportunity | Data Scientist | Tavant India,Tavant Technologies,<selenium.webdriver.remote.webelement.WebEleme...
18,Sr. Data Scientist,Attri,<selenium.webdriver.remote.webelement.WebEleme...
19,Research Scientist,Attri,<selenium.webdriver.remote.webelement.WebEleme...

In [141]:
driver = webdriver.Chrome(r"C:\Users\shash\OneDrive\Desktop\chromedriver_win32\chromedriver.exe")

In [149]:
url="https://www.flipkart.com/"
driver.get(url)

In [152]:
search_g= driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_g

In [153]:
search_g.send_keys('sunglasses')

In [155]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn

In [159]:
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [160]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [162]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [163]:
B_name[:100]

['ROYAL SON',
 'AISLIN',
 'Fastrack',
 'BKGE',
 'Elligator',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'SRPM',
 'PIRASO',
 'Elligator',
 'ROYAL SON',
 'SRPM',
 'Fastrack',
 'Elligator',
 'NuVew',
 'Elligator',
 'Fastrack',
 'PIRASO',
 'Libnan Photochromatic',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'style guru',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'AISLIN',
 'GANSTA',
 'Fastrack',
 'Fastrack',
 'NuVew',
 'like future',
 'VINCENT CHASE',
 'iCopertina',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'LOUIS KOUROS',
 'ROYAL SON',
 'AISLIN',
 'Fastrack',
 'BKGE',
 'Elligator',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'SRPM',
 'PIRASO',
 'Elligator',
 'ROYAL SON',
 'SRPM',
 'Fastrack',
 'Elligator',
 'NuVew',
 'Elligator',
 'Fastrack',
 'PIRASO',
 'Libnan Photochromatic',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'style guru',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'AISLIN',
 'GANSTA',
 'Fastrack',
 'Fastrack',
 'NuVew',
 'like future',
 'VINCENT CHASE',
 'iCopertina',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'LOUIS KOUROS',
 'ROYAL SON',
 'AISLIN',
 'Fastrack',
 'BKGE',
 'Elligator',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'SRPM',
 'PIRASO',
 'Elligator',
 'ROYAL SON',
 'SRPM',
 'Fastrack',
 'Elligator',
 'NuVew',
 'Elligator',
 'Fastrack',
 'PIRASO',
 'Libnan Photochromatic']

In [164]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [165]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [166]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,ROYAL SON,"₹471₹1,49968% off","UV Protection Rectangular, Retro Square Sungla...",68% off
1,AISLIN,"₹423₹1,52572% off","UV Protection, Gradient Oval Sunglasses (60)",72% off
2,Fastrack,₹499₹89944% off,UV Protection Rectangular Sunglasses (Free Size),44% off
3,BKGE,₹149₹99985% off,"Polarized, UV Protection Retro Square Sunglass...",85% off
4,Elligator,"₹109₹1,29991% off","UV Protection, Mirrored Wayfarer Sunglasses (54)",91% off
...,...,...,...,...
95,NuVew,₹179₹99982% off,UV Protection Shield Sunglasses (Free Size),77% off
96,Elligator,"₹239₹1,59985% off",UV Protection Wayfarer Sunglasses (56),64% off
97,Fastrack,"₹699₹1,99965% off",UV Protection Rectangular Sunglasses (Free Size),43% off
98,PIRASO,"₹179₹1,29986% off","Mirrored, Night Vision, UV Protection Wayfarer...",87% off
99,Libnan Photochromatic,"₹268₹1,59983% off",UV Protection Wayfarer Sunglasses (Free Size),59% off

In [167]:
url="https://www.flipkart.com/"
driver.get(url)

In [168]:
search_g= driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_g

In [169]:
search_g.send_keys('iphone 11')

In [170]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn

In [171]:
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [178]:
select_btn=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]')
select_btn.click()

In [ ]:
rating=[]
review_summary=[]

In [213]:
review_summary=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/div[4]')

for k in review_summary:
        review_summary.append(k.text)
review_summary

[]

In [214]:
url="https://www.flipkart.com/"
driver.get(url)

In [215]:
search_g= driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_g

In [216]:
search_g.send_keys('sneakers')

In [217]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn

In [218]:
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [219]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [221]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [223]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [224]:
snea_kers=pd.DataFrame({})
snea_kers['Brand_name']=B_name[:100]
snea_kers['P_price']=Price[:100]
snea_kers['Pr_desc']=P_desc[:100]
snea_kers['P_discount']=Discount[:100]

In [225]:
snea_kers

,Brand_name,P_price,Pr_desc,P_discount
0,BIRDE,₹499₹99950% off,Combo Pack Of 2 Casual Shoes Sneakers For Men,50% off
1,BRUTON,"₹399₹2,49984% off",2 Combo Sneaker Shoes Sneakers For Men,84% off
2,Labbin,₹349₹87460% off,Sneakers For Men,60% off
3,PUMA,"₹1,374₹4,49969% off",Buzz Sneakers For Men,69% off
4,PUMA,"₹1,379₹3,99965% off",Hustle V2 Sneakers For Men,65% off
...,...,...,...,...
95,aadi,"₹479₹1,99876% off",Combo_Pack_Of 2 Casual Shoes Sneakers For Men,85% off
96,BRUTON,"₹249₹1,99987% off",RS-Z Reinvention Sneakers For Men,85% off
97,BRUTON,"₹399₹2,49984% off",HRXLB-2C Sneakers For Men,84% off
98,PUMA,"₹229₹1,29982% off",Sneakers For Men,55% off
99,HRX by Hrithik Roshan,₹499₹99950% off,Sneakers For Men,71% off

In [246]:
url=" https://www.amazon.in "
driver.get(url)

In [247]:
search_g= driver.find_element(By.XPATH,'//*[@id="twotabsearchtextbox"]')
search_g

In [248]:
search_g.send_keys('Laptop')

In [250]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [254]:
search_btn=driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
search_btn.click()

In [255]:
Title=[]
Price=[]
Rating=[]

In [273]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    
    
    for j  in b_name:
        Title.append(j.text)
    Title[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[0:100] 
    
    
    for l in price:
        price.append(l.text)
    price[0:100]

In [266]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

100
0
100

(None, None, None)

In [267]:
laptop=pd.DataFrame({})
laptop['Title']=B_name[:100]
laptop['Pr_desc']=P_desc[:100]